* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

body {
min-height: 100vh;
min-width: 100vw;
background: linear-gradient(180deg, #107ac1 0%, rgba(25, 68, 93, 0.8) 100%);
}
